<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "ru.rcf.app"
    versionCode = "10"
    version     = "1.2.0">

<name>rcf-start.com</name>

<description>
    Одежда, обувь и аксессуары для города и активного отдыха.
</description>

<author>Tadapp</author>

<plugin name='cordova-plugin-splashscreen' />
<plugin name='cordova-plugin-inappbrowser' />

<preference name='phonegap-version' value='cli-8.0.0' />

<preference name='orientation' value='portrait' />

<gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

<preference name='windows-appx-target' value='8.1-win' />

<preference name='phonegap-version' value='cli-8.0.0' />

<preference name='android-build-tool' value='gradle' />
<preference name="android-targetSdkVersion" value="28" />
<preference name='orientation' value='portrait' />

<preference name='windows-appx-target' value='8.1-phone' />
<preference name='WindowsToastCapable' value='true' />

<preference name="SplashMaintainAspectRatio" value="true" />
<preference name="SplashScreenSpinnerColor" value="#849494" />


<platform name="android">
    <icon src="res/android/icon/26f9886bf7b020bd25503f756c015455.png" density="ldpi" />
    <icon src="res/android/icon/11d98173876092195aff5d32fe46759e.png" density="mdpi" />
    <icon src="res/android/icon/0b9c6c917ca003477ff2998fb519d407.png" density="hdpi" />
    <icon src="res/android/icon/9dde102e95e1d944b69cfc4f4d18c6c1.png" density="xhdpi" />
    <icon src="res/android/icon/685ede0441ff06a117a8ad0b35ec0b5c.png" density="xxhdpi" />
    <icon src="res/android/icon/21ab1b25e3cb3e02d3b6d67b90ccf140.png" density="xxxhdpi" />

    <splash src="res/android/screen/efd9cc8e52363d2e5d80c0997e21790b.png" density="port-hdpi"/>
    <splash src="res/android/screen/daa163247927bd3864a98f0695e87dca.png" density="port-ldpi"/>
    <splash src="res/android/screen/1d9aef2a7991dc40ceeced35ec799d3b.png" density="port-mdpi"/>
    <splash src="res/android/screen/fce485f2549b16fbb79252b601f33c7d.png" density="port-xhdpi"/>
</platform>

<platform name="ios">
	<icon src="res/ios/icon/f9f0b3a1c6d808c978351853345b8e4a.png" width="180" height="180" />
	<icon src="res/ios/icon/47e7b434f45799b53f17c6a1eac79820.png" width="60" height="60" />
	<icon src="res/ios/icon/e131f7fc7ebed83b62fd2e0b0c07b87f.png" width="120" height="120" />
	<icon src="res/ios/icon/09590052e214081239e4c8cc262d57a9.png" width="76" height="76" />
	<icon src="res/ios/icon/3d2edfd4cf155d122b6acadba2715ad7.png" width="152" height="152" />
	<icon src="res/ios/icon/c0d300f92fed2e18140573a2f5c83403.png" width="57" height="57" />
	<icon src="res/ios/icon/70dc93b1c375e2f18f7af7703c73a47a.png" width="114" height="114" />
	<icon src="res/ios/icon/2c94ede1452f3ddc4eac2b37b9bf3066.png" width="72" height="72" />
	<icon src="res/ios/icon/f6f8b827d47538fca5953f6a68b2a655.png" width="144" height="144" />
	<icon src="res/ios/icon/59f66353fc4e4800c36fd0e0f1c3d0d8.png" width="167" height="167" />
	<icon src="res/ios/icon/92f3936c808dc322c4a18a73035dd096.png" width="29" height="29" />
	<icon src="res/ios/icon/2a6f8bb2d6e2cae86a44f1797d004d61.png" width="58" height="58" />
	<icon src="res/ios/icon/465f59b148c7155c2d0cf8c539c5bdd8.png" width="87" height="87" />
	<icon src="res/ios/icon/43d78d55ead31b35cf72637b3377ba25.png" width="167" height="167" />

	<splash src="res/ios/screen/72f913a6eee2fefc73fef247f1fec218.png" />
    <splash src="res/ios/screen/56b514daa81b24aa4e5f3650c073ddf9.png" />
    <splash src="res/ios/screen/1fd4b0639e2dff10d0ce433082dd552f.png" />
    <splash src="res/ios/screen/3404e5b47025edc7b0d05742457f6383.png" />
    <splash src="res/ios/screen/3d0b4329164681726dc36f06876ae001.png" />
    <splash src="res/ios/screen/aafa9e80af76d19fae44f3eb5d985cc5.png" />
</platform>

<platform name="winphone">
    <icon src="res/windows/icon/2fdfc33109406b9663c8db7877f37996.png" target="StoreLogo" />
    <icon src="res/windows/icon/2e631936c73cbc6c56990c1da41f2ee0.png" target="Square30x30Logo" />
    <icon src="res/windows/icon/190c21fb27a3c2910f0d70207deeb63b.png" target="Square44x44Logo" />
    <icon src="res/windows/icon/12c5db11fa8ddbf92250706cf9564239.png" target="Square70x70Logo" />
    <icon src="res/windows/icon/653adc3237fc4ff453f8c6c8072fb802.png" target="Square71x71Logo" />
    <icon src="res/windows/icon/4d5f4285f88a29ee7125dafb38aba9b7.png" target="Square150x150Logo" />
    <icon src="res/windows/icon/a8bb480a6c83d48c5fefad164624dfdc.png" target="Square310x310Logo" />

    <splash src="res/windows/screen/8917fe78478ab9c878ae803345bc39b7.png" target="SplashScreen"/>
    <splash src="res/windows/screen/8cce48366c9cc36713dfaa5fcfef5211.png" target="SplashScreenPhone"/>
</platform>

<access origin='*'/> 
<plugin name='cordova-plugin-whitelist' />
<allow-intent href='http://*/*'/>
<allow-intent href='https://*/*'/>
<allow-intent href='tel:*'/>
<allow-intent href='sms:*'/>
<allow-intent href='mailto:*'/>
<allow-intent href='geo:*'/>

</widget>