<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "ru.rcf.app"
    versionCode = "10"
    version     = "1.1.0">

<name>rcf-start.com</name>

<description>
    Одежда, обувь и аксессуары для города и активного отдыха.
</description>

<author>Tadapp</author>

<plugin name='cordova-plugin-splashscreen' />
<plugin name='cordova-plugin-inappbrowser' />

<preference name='phonegap-version' value='cli-8.0.0' />

<preference name='orientation' value='portrait' />

<gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

<preference name='windows-appx-target' value='8.1-win' />

<preference name='phonegap-version' value='cli-8.0.0' />

<preference name='android-build-tool' value='gradle' />
<preference name="android-targetSdkVersion" value="28" />
<preference name='orientation' value='portrait' />

<preference name='windows-appx-target' value='8.1-phone' />
<preference name='WindowsToastCapable' value='true' />

<preference name="SplashMaintainAspectRatio" value="true" />
<preference name="SplashScreenSpinnerColor" value="#849494" />


<platform name="android">
    <icon src="res/android/icon/6f2dff07093af0b27e4dd67ffe4923cb.png" density="ldpi" />
    <icon src="res/android/icon/6b5f66b198743246553a460aca83de8e.png" density="mdpi" />
    <icon src="res/android/icon/fabeb63d9cb1eac2ca8017b1cb2ec9fd.png" density="hdpi" />
    <icon src="res/android/icon/0f701043755ff86b5241ba3ef1a1a15a.png" density="xhdpi" />
    <icon src="res/android/icon/ad350be033d1df44a25a272bae88e92f.png" density="xxhdpi" />
    <icon src="res/android/icon/ad6b141fa39b0d0c1c26af1e8872f652.png" density="xxxhdpi" />

    <splash src="res/android/screen/efd9cc8e52363d2e5d80c0997e21790b.png" density="port-hdpi"/>
    <splash src="res/android/screen/daa163247927bd3864a98f0695e87dca.png" density="port-ldpi"/>
    <splash src="res/android/screen/1d9aef2a7991dc40ceeced35ec799d3b.png" density="port-mdpi"/>
    <splash src="res/android/screen/fce485f2549b16fbb79252b601f33c7d.png" density="port-xhdpi"/>
</platform>

<platform name="ios">
	<icon src="res/ios/icon/415d32e7debbdc340113da325d07c822.png" width="180" height="180" />
	<icon src="res/ios/icon/8b3920f23c12cdbd670bda03377dc0ef.png" width="60" height="60" />
	<icon src="res/ios/icon/9000bd613d75e3b4effcbc1658033968.png" width="120" height="120" />
	<icon src="res/ios/icon/abf6626860d1d4188595229fe43336df.png" width="76" height="76" />
	<icon src="res/ios/icon/071c657aa22afa2046e36f65b5bcbd1c.png" width="152" height="152" />
	<icon src="res/ios/icon/3b80330043a4aa3c024faa4c8f1639a9.png" width="57" height="57" />
	<icon src="res/ios/icon/d15d362e5d9d1584cdf1e17627c9d6de.png" width="114" height="114" />
	<icon src="res/ios/icon/75d6eb3f98d68f32e623614d476bc1d4.png" width="72" height="72" />
	<icon src="res/ios/icon/906f5eb249496ae684fd1d8ba2be6b72.png" width="144" height="144" />
	<icon src="res/ios/icon/f146a9ed861f8dbccf95dbc8887b9a2a.png" width="167" height="167" />
	<icon src="res/ios/icon/320badc4497ddf183df69a52a42e9954.png" width="29" height="29" />
	<icon src="res/ios/icon/414ac663711340a1efdeedc370739e80.png" width="58" height="58" />
	<icon src="res/ios/icon/0f320f500aff750f31b874591da2d62f.png" width="87" height="87" />
	<icon src="res/ios/icon/d0419fa538385356b80f9c6f8850b830.png" width="167" height="167" />

	<splash src="res/ios/screen/72f913a6eee2fefc73fef247f1fec218.png" />
    <splash src="res/ios/screen/56b514daa81b24aa4e5f3650c073ddf9.png" />
    <splash src="res/ios/screen/1fd4b0639e2dff10d0ce433082dd552f.png" />
    <splash src="res/ios/screen/3404e5b47025edc7b0d05742457f6383.png" />
    <splash src="res/ios/screen/3d0b4329164681726dc36f06876ae001.png" />
    <splash src="res/ios/screen/aafa9e80af76d19fae44f3eb5d985cc5.png" />
</platform>

<platform name="winphone">
    <icon src="res/windows/icon/2fdfc33109406b9663c8db7877f37996.png" target="StoreLogo" />
    <icon src="res/windows/icon/2e631936c73cbc6c56990c1da41f2ee0.png" target="Square30x30Logo" />
    <icon src="res/windows/icon/190c21fb27a3c2910f0d70207deeb63b.png" target="Square44x44Logo" />
    <icon src="res/windows/icon/12c5db11fa8ddbf92250706cf9564239.png" target="Square70x70Logo" />
    <icon src="res/windows/icon/653adc3237fc4ff453f8c6c8072fb802.png" target="Square71x71Logo" />
    <icon src="res/windows/icon/4d5f4285f88a29ee7125dafb38aba9b7.png" target="Square150x150Logo" />
    <icon src="res/windows/icon/a8bb480a6c83d48c5fefad164624dfdc.png" target="Square310x310Logo" />

    <splash src="res/windows/screen/8917fe78478ab9c878ae803345bc39b7.png" target="SplashScreen"/>
    <splash src="res/windows/screen/8cce48366c9cc36713dfaa5fcfef5211.png" target="SplashScreenPhone"/>
</platform>

<access origin='*'/> 
<plugin name='cordova-plugin-whitelist' />
<allow-intent href='http://*/*'/>
<allow-intent href='https://*/*'/>
<allow-intent href='tel:*'/>
<allow-intent href='sms:*'/>
<allow-intent href='mailto:*'/>
<allow-intent href='geo:*'/>

</widget>